<div class="footer">
    <h2>Let's Talk...</h2>
    <div class="text-input">
        <input type="text" id="input1" placeholder="Try typing in your em@il here!">
        <label for="input1">Email</label>
    </div>
    <p>Trademark@2017</p>
</div>
</body>
</html>