<% include ./partials/header.ejs%>
	<div class="landingContainer">
		<h1>Welcome to Blogger's Page</h1>
		<a href="/campGrounds"> To Blogs <i class="far fa-edit"></i></a>
	</div>
<% include ./partials/footer.ejs%>