<% include ./partials/header.ejs%>
<div class="form">
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div class="text">
            <h4>Username  </h4>
            <input type="" name="username" placeholder="username">
        </div>
        <div class="text">
            <h4>Password  </h4>
            <input type="password" name="password" placeholder="password">
        </div>
        <button>Submit</button>
        <a href="/login">Already Registered?</a>
    </form>
</div>

<% include ./partials/footer.ejs%>